.git
.github
__pycache__
.pytest_cache
.ruff_cache
.venv
venv
EyesDataset
data/reference
data/incoming
eye_cnn_best_val_final.pth
eye_cnn_best_val.pth
project.ipynb
*.docx
tests
README.md
*.pyc
.DS_Store
